<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to the best coaching project ever!</h1>
    <div class='banner'>
      <form action="/answer" method='get'>
        <input type="text" name="answer" placeholder='Feeling lucky?'>
        <input class='button' type="submit" value="Ask your wonderful coach!">
      </form>    
    </div>
    <%= yield %>
  </body>
</html>
